<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    <div>
      <% @music.each do |album| %>
      
        Title: <%= album.title %>
        Released: <%= album.release_year %>
      
    <% end %>      
    </div>
  </body>
</html>
