<form action="/albums" method="POST">
  <label>Album Title: </label>
    <input type="text" name="title"> 
  <label>Album Release Year: </label>
    <input type="text" name="realease_year">
  <label>Album Artist ID: </label>
    <input type="text" name="artist_id">

    <input type="submit" value="Submit the form">
</form>