<form action="/artists" method="POST">
  <label>Artist Name:</label>
    <input type="text" name="name">
  <label>Artist Genre</label>
    <input type="text" name="genre">
  <input type="submit">
</form>